@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background: #008080;
    text-align: center;  
}
main{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}
H1{
    font-family: 'Playfair Display', serif;
    font-size: 35pt;
    color: #ffff00 ;
}
H2{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 25pt;
    margin-top: 2%; 
    color: #ffff00 ;
}
.options{
    margin-top: 2%;
    padding: 3px;
}
label{
    color: #fffdd0;
    font-weight: bold;
}
.box{
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 2%;
    box-shadow: #ff4500 0px 2px 4px, #ff4500 0px 7px 13px -3px, #ff4500 0px -3px 0px inset;
}
::placeholder{
    text-align: center;
    color: black;
}
textarea, input{
    background: #fffdd0;
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
    color: black;
}
.estiloBotao{
    margin-top: 2%;
    display: inline-block;
    padding: 10px 5px;
    background: #ff7f7f;
    border-radius: 5px;
    text-transform: uppercase;
    color: black;
    font-size: 15pt;
    font-weight: bold;
    max-width: max-content;
    border: 2px solid black;
    cursor: pointer;
}
.estiloBotao:hover, .estiloBotao2:hover {
    background: #ff4500;
}
.incremento1{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.boxAdd{
    height: 40px;
    width: 40px;
    box-shadow: #ff4500 0px 1px 2px, #ff4500 0px 3px 7px -1px, #ff4500 0px -1px 0px inset;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}
footer{
    color: #fffdd0;
    margin-top: 25px;
}
.footer1 a{
    margin-top: 10px;
}