@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 700px;
    margin: 0 auto;
    background: #008080;
    text-align: center;
    position: relative;
}
H1{
    font-family: 'Playfair Display', serif;
    font-size: 35pt;
    color: #ffff00 ;
}
H2{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 25pt;
    margin-top: 2%; 
    color: #ffff00 ;
}
.opcao, .box2{
    margin-top: 2%;
    padding: 3px;
}
label{
    margin-top: 2%;
    color: #fffdd0;
    font-weight: bold;
}
.botao-estilo{
    margin-top: 2%;
    display: inline-block;
    padding: 10px 5px;
    background: #ff7f7f;
    border-radius: 5px;
    text-transform: uppercase;
    color: black;
    font-size: 15pt;
    font-weight: bold;
    max-width: max-content;
    border: 2px solid black;
    cursor: pointer;
  }
  .botao-estilo:hover {
    background: #ff4500;
  }
.box{
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 2%;
    box-shadow: #ff4500 0px 2px 4px, #ff4500 0px 7px 13px -3px, #ff4500 0px -3px 0px inset;
    /* box-shadow: #ff4500 0px 20px 30px -10px; */
}
.boxincre{
    box-shadow: #ff4500 0px 1px 2px, #ff4500 0px 3px 7px -1px, #ff4500 0px -1px 0px inset;
    margin-top: 2%;
    border-radius: 5px;
}