@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background: #008080;
    text-align: center;
}
H1{
    font-family: 'Playfair Display', serif;
    font-size: 35pt;
    color: #ffff00 ;
}
h2{
    font-size: 30pt;
    font-family: 'Gemunu Libre', sans-serif;
}
.our{
    font-size: 30pt;
    font-family: 'Gemunu Libre', sans-serif;
    color: #ffff00 ;    
}

p{
    text-align: justify;
    font-size: 15pt;
    margin-top: 15px;
    color: #fffafa;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-right: 40px ; 
    margin-left: 40px;
}
.tipo{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    
}
.tipo img{
    margin-top: 15px;
    height: 100px;
    width: 250px;
}

/* CSS */
.button-53 {
    margin-top: 15px;
    background-color: #fffdd0;
    border: 2px solid #ff4500;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    text-align: center;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid black;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}
@media (min-width: 768px) {
    .button-53 {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }
footer{
    color: #fffdd0;
    margin-top: 25px;
}
.footer1 a{
    margin-top: 10px;
}
